In [1]:
from transactions_c3 import Transactions
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [307]:
eid = 24961
txn = Transactions(eid, "p", 603727)

In [308]:
txn.update()

In [309]:
txn.event_txn_df = txn.event_txn_df.iloc[::-1]

In [310]:
txn.event_txn_df["value"] = txn.event_txn_df["qty"] * txn.event_txn_df["price"]
txn.event_txn_df["cumvalue"] = txn.event_txn_df["amount"].cumsum()

In [311]:
txn.event_txn_df["price+5"] = txn.event_txn_df["price"] + 5
txn.event_txn_df["if_win_price"] = 100 -txn.event_txn_df["price"] 
txn.event_txn_df["net_qty"] = np.where(txn.event_txn_df["status"]=="Bought", txn.event_txn_df["qty"], txn.event_txn_df["qty"]*-1)
txn.event_txn_df["if_win_price_times_qty"] = txn.event_txn_df["if_win_price"] * txn.event_txn_df["net_qty"]

In [312]:
txn.event_txn_df

,date,createdat,event_id,refid,amount,order_detail,status,qty,asset,price,value,cumvalue,price+5,if_win_price,net_qty,if_win_price_times_qty
422,2023-03-05,2023-03-05 19:37:58.037000+05:30,24961,od_1677385001579392,-440.0,"Bought 10.00 shares x Y (Rs. 44.00 each) , Li...",Bought,10.0,Y,44.0,440.0,-440.0,49.0,56.0,10.0,560.0
421,2023-03-05,2023-03-05 19:38:04.455000+05:30,24961,od_1677385001579400,-500.0,"Bought 10.00 shares x N (Rs. 50.00 each) , Li...",Bought,10.0,N,50.0,500.0,-940.0,55.0,50.0,10.0,500.0
420,2023-03-05,2023-03-05 19:42:30.753000+05:30,24961,od_1677385001579392,440.0,"Cancelled 10.00 shares x Y (Rs. 44.00 each) ,",Cancelled,10.0,Y,44.0,440.0,-500.0,49.0,56.0,-10.0,-560.0
419,2023-03-05,2023-03-05 19:42:51.447000+05:30,24961,od_1677385001579681,-440.0,"Bought 10.00 shares x Y (Rs. 44.00 each) , Li...",Bought,10.0,Y,44.0,440.0,-940.0,49.0,56.0,10.0,560.0
418,2023-03-05,2023-03-05 19:42:57.827000+05:30,24961,od_1677385001579687,-520.0,"Bought 10.00 shares x N (Rs. 52.00 each) , Li...",Bought,10.0,N,52.0,520.0,-1460.0,57.0,48.0,10.0,480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2023-03-05,2023-03-05 22:10:42.025000+05:30,24961,od_1677385001585264,-230.0,"Bought 10.00 shares x N (Rs. 23.00 each) , Li...",Bought,10.0,N,23.0,230.0,-36613.0,28.0,77.0,10.0,770.0
3,2023-03-05,2023-03-05 22:11:21.643000+05:30,24961,od_1677385001585251,288.0,"Cancelled 4.00 shares x Y (Rs. 72.00 each) ,",Cancelled,4.0,Y,72.0,288.0,-36325.0,77.0,28.0,-4.0,-112.0
2,2023-03-05,2023-03-05 22:11:22.398000+05:30,24961,od_1677385001585308,-820.0,"Bought 10.00 shares x Y (Rs. 82.00 each) , Li...",Bought,10.0,Y,82.0,820.0,-37145.0,87.0,18.0,10.0,180.0
1,2023-03-05,2023-03-05 22:12:00.280000+05:30,24961,od_1677385001585342,-324.0,"Bought 4.00 shares x Y (Rs. 81.00 each) , Lim...",Bought,4.0,Y,81.0,324.0,-37469.0,86.0,19.0,4.0,76.0
0,2023-03-06,2023-03-06 10:55:47.302000+05:30,24961,None,32500.0,Settled (Rs. 32500.00 credited),Settled,NaN,NaN,NaN,NaN,-4969.0,NaN,NaN,NaN,NaN

In [305]:
txn.event_txn_df.to_csv(f"trades_{eid}.csv")

In [306]:
txn.event_txn_df["amount"].iloc[:].sum()
# txn.event_txn_df["amount"].iloc[1:].sum()

6158.0

In [284]:
yes_txn = txn.event_txn_df[txn.event_txn_df["asset"]=="Y"].copy()
no_txn = txn.event_txn_df[txn.event_txn_df["asset"]=="N"].copy()

In [285]:
yes_txn["cumwin"] = yes_txn["if_win_price_times_qty"].cumsum()
yes_txn["cumvalue"] = yes_txn["amount"].cumsum()

In [286]:
yes_txn

,date,createdat,event_id,refid,amount,order_detail,status,qty,asset,price,value,cumvalue,price+5,if_win_price,net_qty,if_win_price_times_qty,cumwin
421,2023-03-05,2023-03-05 19:37:58.037000+05:30,24961,od_1677385001579392,-440.0,"Bought 10.00 shares x Y (Rs. 44.00 each) , Li...",Bought,10.0,Y,44.0,440.0,-440.0,49.0,56.0,10.0,560.0,560.0
419,2023-03-05,2023-03-05 19:42:30.753000+05:30,24961,od_1677385001579392,440.0,"Cancelled 10.00 shares x Y (Rs. 44.00 each) ,",Cancelled,10.0,Y,44.0,440.0,0.0,49.0,56.0,-10.0,-560.0,0.0
418,2023-03-05,2023-03-05 19:42:51.447000+05:30,24961,od_1677385001579681,-440.0,"Bought 10.00 shares x Y (Rs. 44.00 each) , Li...",Bought,10.0,Y,44.0,440.0,-440.0,49.0,56.0,10.0,560.0,560.0
416,2023-03-05,2023-03-05 19:43:29.574000+05:30,24961,od_1677385001579681,308.0,"Cancelled 7.00 shares x Y (Rs. 44.00 each) ,",Cancelled,7.0,Y,44.0,308.0,-132.0,49.0,56.0,-7.0,-392.0,168.0
415,2023-03-05,2023-03-05 19:43:31.335000+05:30,24961,od_1677385001579714,-440.0,"Bought 10.00 shares x Y (Rs. 44.00 each) , Li...",Bought,10.0,Y,44.0,440.0,-572.0,49.0,56.0,10.0,560.0,728.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2023-03-05,2023-03-05 22:10:34.052000+05:30,24961,od_1677385001585216,284.0,"Cancelled 4.00 shares x Y (Rs. 71.00 each) ,",Cancelled,4.0,Y,71.0,284.0,-20876.0,76.0,29.0,-4.0,-116.0,20624.0
5,2023-03-05,2023-03-05 22:10:34.782000+05:30,24961,od_1677385001585251,-288.0,"Bought 4.00 shares x Y (Rs. 72.00 each) , Lim...",Bought,4.0,Y,72.0,288.0,-21164.0,77.0,28.0,4.0,112.0,20736.0
2,2023-03-05,2023-03-05 22:11:21.643000+05:30,24961,od_1677385001585251,288.0,"Cancelled 4.00 shares x Y (Rs. 72.00 each) ,",Cancelled,4.0,Y,72.0,288.0,-20876.0,77.0,28.0,-4.0,-112.0,20624.0
1,2023-03-05,2023-03-05 22:11:22.398000+05:30,24961,od_1677385001585308,-820.0,"Bought 10.00 shares x Y (Rs. 82.00 each) , Li...",Bought,10.0,Y,82.0,820.0,-21696.0,87.0,18.0,10.0,180.0,20804.0
0,2023-03-05,2023-03-05 22:12:00.280000+05:30,24961,od_1677385001585342,-324.0,"Bought 4.00 shares x Y (Rs. 81.00 each) , Lim...",Bought,4.0,Y,81.0,324.0,-22020.0,86.0,19.0,4.0,76.0,20880.0

In [287]:
print(yes_txn["price"].min())
print(yes_txn["price"].max())
print(yes_txn["qty"].sum())
print(yes_txn["net_qty"].sum())

22.0
87.0
1931.0
429.0

In [288]:
no_txn["cumwin"] = no_txn["if_win_price_times_qty"].cumsum()
no_txn["cumvalue"] = no_txn["amount"].cumsum()

In [289]:
no_txn

,date,createdat,event_id,refid,amount,order_detail,status,qty,asset,price,value,cumvalue,price+5,if_win_price,net_qty,if_win_price_times_qty,cumwin
420,2023-03-05,2023-03-05 19:38:04.455000+05:30,24961,od_1677385001579400,-500.0,"Bought 10.00 shares x N (Rs. 50.00 each) , Li...",Bought,10.0,N,50.0,500.0,-500.0,55.0,50.0,10.0,500.0,500.0
417,2023-03-05,2023-03-05 19:42:57.827000+05:30,24961,od_1677385001579687,-520.0,"Bought 10.00 shares x N (Rs. 52.00 each) , Li...",Bought,10.0,N,52.0,520.0,-1020.0,57.0,48.0,10.0,480.0,980.0
414,2023-03-05,2023-03-05 19:43:37.539000+05:30,24961,od_1677385001579722,-510.0,"Bought 10.00 shares x N (Rs. 51.00 each) , Li...",Bought,10.0,N,51.0,510.0,-1530.0,56.0,49.0,10.0,490.0,1470.0
411,2023-03-05,2023-03-05 19:44:16.122000+05:30,24961,od_1677385001579722,204.0,"Cancelled 4.00 shares x N (Rs. 51.00 each) ,",Cancelled,4.0,N,51.0,204.0,-1326.0,56.0,49.0,-4.0,-196.0,1274.0
410,2023-03-05,2023-03-05 19:44:16.908000+05:30,24961,od_1677385001579754,-610.0,"Bought 10.00 shares x N (Rs. 61.00 each) , Li...",Bought,10.0,N,61.0,610.0,-1936.0,66.0,39.0,10.0,390.0,1664.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,2023-03-05,2023-03-05 22:08:38.235000+05:30,24961,od_1677385001585174,-210.0,"Bought 10.00 shares x N (Rs. 21.00 each) , Li...",Bought,10.0,N,21.0,210.0,-15405.0,26.0,79.0,10.0,790.0,16995.0
9,2023-03-05,2023-03-05 22:09:19.445000+05:30,24961,od_1677385001585174,210.0,"Cancelled 10.00 shares x N (Rs. 21.00 each) ,",Cancelled,10.0,N,21.0,210.0,-15195.0,26.0,79.0,-10.0,-790.0,16205.0
8,2023-03-05,2023-03-05 22:09:20.165000+05:30,24961,od_1677385001585198,-240.0,"Bought 10.00 shares x N (Rs. 24.00 each) , Li...",Bought,10.0,N,24.0,240.0,-15435.0,29.0,76.0,10.0,760.0,16965.0
4,2023-03-05,2023-03-05 22:10:41.270000+05:30,24961,od_1677385001585198,216.0,"Cancelled 9.00 shares x N (Rs. 24.00 each) ,",Cancelled,9.0,N,24.0,216.0,-15219.0,29.0,76.0,-9.0,-684.0,16281.0
3,2023-03-05,2023-03-05 22:10:42.025000+05:30,24961,od_1677385001585264,-230.0,"Bought 10.00 shares x N (Rs. 23.00 each) , Li...",Bought,10.0,N,23.0,230.0,-15449.0,28.0,77.0,10.0,770.0,17051.0

In [290]:
print(no_txn["price"].min())
print(no_txn["price"].max())
print(no_txn["qty"].sum())
print(no_txn["net_qty"].sum())

21.0
73.0
1769.0
325.0

In [46]:
eid_list = range(23034, 23050)

In [47]:
eid_list

range(23034, 23050)

In [75]:
from strat_live_status_recorder import StratRecorder
sr = StratRecorder(eid=0, strategy_num=0, userid=0)

In [77]:
db_df = sr.get_data_df_from_psql_live1(23034)
pnl_worst = db_df["pnl_worst"].min()
pnl_worst

-479.0

In [78]:
db_df

,uid,api,eid,updatedatetime,pnl_worst,pnl_best,pnl_worst_limit,worst_limit_reached
0,603727,p,23034,2023-02-25T11:41:21.629668,-479.0,-179.0,15000.0,False
1,603727,p,23034,2023-02-25T11:41:21.629668,-479.0,-179.0,10000.0,False

In [123]:
eid_list = range(23034, 23130)
total = 0

print("Event", "PnLFinal", "PnlWorst", "Settled", "        Qty")
print("-"*45)


for i in eid_list:
    txn = Transactions(i, "p", 603727)
    txn.update()
    
    if (txn.event_txn_df is None) or (txn.event_txn_df.empty):
        pnl = np.nan
        qty = np.nan
        pnl_worst = np.nan
    else:
        pnl = txn.event_txn_df["amount"].iloc[:].sum()
        qty = txn.event_txn_df["qty"].iloc[:].sum()
        try:
            db_df = sr.get_data_df_from_psql_live1(i)
            pnl_worst = db_df["pnl_worst"].min()
        except:
            pnl_worst = None
        
    if "Settled" in txn.event_txn_df["status"].values:
        settle = "settled"
    elif (np.isnan(pnl)) and (np.isnan(qty)) and (np.isnan(pnl_worst)):
        settle = np.nan
    else:
        settle = "not settled"
    print(i, f"{pnl:>8}", f"{pnl_worst:>8}", f"{settle:<11}", f"{qty:>6}")
    if not np.isnan(pnl):
        total = total + pnl
print("-"*45)
print("total final pnl: ", total)

Event PnLFinal PnlWorst Settled         Qty
---------------------------------------------
23034   -479.0   -479.0 not settled   97.0
23035      nan      nan nan            nan
23036      0.0  -9801.0 settled      449.0
23037      6.0  -7619.0 settled      227.0
23038    320.0 -11780.0 settled      632.0
23039      0.0  -9801.0 settled      547.0
23040  -1988.0  -4494.0 settled      556.0
23041     56.0  -1670.0 settled      725.0
23042   1062.0  -1681.0 settled      374.0
23043      nan      nan nan            nan
23044      nan      nan nan            nan
23045     85.0   -375.0 settled      325.0
23046    384.0  -2455.0 settled      420.0
23047     11.0  -6063.0 settled      633.0
23048     12.0  -7188.0 settled      475.0
23049  -3760.0  -3760.0 not settled  324.0
23050    -44.0 -19321.0 settled      611.0
23051  -1339.0  -1423.0 not settled  525.0
23052    434.0  -1716.0 settled      375.0
23053    291.0  -6399.0 settled      357.0
23054  -1146.0  -1402.0 not settled  525.0
23055   -218.0  -1493.0 settled      550.0
23056   -703.0  -8868.0 settled      469.0
23057      nan      nan nan            nan
23058      nan      nan nan            nan
23059      nan      nan nan            nan
23060      nan      nan nan            nan
23061      nan      nan nan            nan
23062      nan      nan nan            nan
23063      nan      nan nan            nan
23064      nan      nan nan            nan
23065      nan      nan nan            nan
23066      nan      nan nan            nan
23067      nan      nan nan            nan
23068      nan      nan nan            nan
23069      nan      nan nan            nan
23070      nan      nan nan            nan
23071      nan      nan nan            nan
23072      nan      nan nan            nan
23073      nan      nan nan            nan
23074  -2341.0  -2945.0 settled      494.0
23075      nan      nan nan            nan
23076      nan      nan nan            nan
23077      nan      nan nan            nan
23078      nan      nan nan            nan
23079   -750.0  -8175.0 settled      719.0
23080     78.0  -5171.0 settled      743.0
23081     65.0 -19186.0 settled      795.0
23082      nan      nan nan            nan
23083     63.0  -9846.0 settled     1284.0
23084   -991.0  -7737.0 settled      527.0
23085      nan      nan nan            nan
23086      nan      nan nan            nan
23087  -1182.0  -1482.0 settled      745.0
23088      nan      nan nan            nan
23089      nan      nan nan            nan
23090      nan      nan nan            nan
23091     22.0 -11979.0 settled      569.0
23092      nan      nan nan            nan
23093      nan      nan nan            nan
23094  -7528.0  -7528.0 not settled  445.0
23095  -3170.0  -8120.0 settled      550.0
23096   -120.0  -2295.0 settled      516.0
23097     67.0  -2408.0 settled      725.0
23098      nan      nan nan            nan
23099      nan      nan nan            nan
23100     98.0  -2902.0 settled      518.0
23101      nan      nan nan            nan
23102   -764.0  -2914.0 settled      275.0
23103     -5.0  -9808.0 settled     1249.0
23104    498.0 -25191.0 settled      825.0
23105    310.0  -4655.0 settled      275.0
23106    373.0  -1652.0 settled      474.0
23107   -890.0  -1178.0 settled      424.0
23108     11.0  -1089.0 settled     1009.0
23109     77.0  -2123.0 settled     1034.0
23110    109.0 -10191.0 settled      953.0
23111    153.0 -10377.0 settled     1209.0
23112    583.0   -101.0 settled      377.0
23113      nan      nan nan            nan
23114      nan      nan nan            nan
23115      nan      nan nan            nan
23116      nan      nan nan            nan
23117  -3061.0  -3619.0 settled      569.0
23118      nan      nan nan            nan
23119      nan      nan nan            nan
23120      nan      nan nan            nan
23121      nan      nan nan            nan
23122 -13794.0 -13794.0 not settled  590.0
23123   -114.0  -5561.0 settled      401.0
23124   -439.0   -502.0 not settled  321.0
23125      1.0  -9108.0 settled      500.0
23126    576.0  -2974.0 settled      500.0
23127    648.0  -8361.0 settled      499.0
23128     10.0   -190.0 settled      650.0
23129     42.0   -258.0 settled      793.0
---------------------------------------------
total final pnl:  -38381.0

In [125]:
eid_list = range(23130, 23200)
total = 0

print("Event", "PnLFinal", "PnlWorst", "Settled", "        Qty")
print("-"*45)


for i in eid_list:
    txn = Transactions(i, "p", 603727)
    txn.update()
    
    if (txn.event_txn_df is None) or (txn.event_txn_df.empty):
        pnl = np.nan
        qty = np.nan
        pnl_worst = np.nan
    else:
        pnl = txn.event_txn_df["amount"].iloc[:].sum()
        qty = txn.event_txn_df["qty"].iloc[:].sum()
        try:
            db_df = sr.get_data_df_from_psql_live1(i)
            pnl_worst = db_df["pnl_worst"].min()
        except:
            pnl_worst = None
        
    if "Settled" in txn.event_txn_df["status"].values:
        settle = "settled"
    elif (np.isnan(pnl)) and (np.isnan(qty)) and (np.isnan(pnl_worst)):
        settle = np.nan
    else:
        settle = "not settled"
    print(i, f"{pnl:>8}", f"{pnl_worst:>8}", f"{settle:<11}", f"{qty:>6}")
    if not np.isnan(pnl):
        total = total + pnl
print("-"*45)
print("total final pnl: ", total)

Event PnLFinal PnlWorst Settled         Qty
---------------------------------------------
23130    120.0  -3580.0 settled      653.0
23131  -1029.0  -1029.0 not settled  500.0
23132    124.0  -4726.0 settled      564.0
23133      nan      nan nan            nan
23134      nan      nan nan            nan
23135   -542.0   -542.0 not settled  325.0
23136      nan      nan nan            nan
23137  -1300.0  -1300.0 not settled  400.0
23138    -75.0   -400.0 not settled  125.0
23139   -250.0   -250.0 not settled   25.0
23140      nan      nan nan            nan
23141      nan      nan nan            nan
23142      nan      nan nan            nan
23143      nan      nan nan            nan
23144      nan      nan nan            nan
23145      nan      nan nan            nan
23146      nan      nan nan            nan
23147      nan      nan nan            nan
23148      nan      nan nan            nan
23149      nan      nan nan            nan
23150      nan      nan nan            nan
23151      nan      nan nan            nan
23152      nan      nan nan            nan
23153      nan      nan nan            nan
23154      nan      nan nan            nan
23155      nan      nan nan            nan
23156      nan      nan nan            nan
23157      nan      nan nan            nan
23158      nan      nan nan            nan
23159      nan      nan nan            nan
23160      nan      nan nan            nan
23161      nan      nan nan            nan
23162      nan      nan nan            nan
23163      nan      nan nan            nan
23164      nan      nan nan            nan
23165      nan      nan nan            nan
23166      nan      nan nan            nan
23167      nan      nan nan            nan
23168      nan      nan nan            nan
23169      nan      nan nan            nan
23170      nan      nan nan            nan
23171      nan      nan nan            nan
23172      nan      nan nan            nan
23173      nan      nan nan            nan
23174      nan      nan nan            nan
23175      nan      nan nan            nan
23176      nan      nan nan            nan
23177      nan      nan nan            nan
23178      nan      nan nan            nan
23179      nan      nan nan            nan
23180      nan      nan nan            nan
23181      nan      nan nan            nan
23182      nan      nan nan            nan
23183      nan      nan nan            nan
23184      nan      nan nan            nan
23185      nan      nan nan            nan
23186      nan      nan nan            nan
23187      nan      nan nan            nan
23188      nan      nan nan            nan
23189      nan      nan nan            nan
23190      nan      nan nan            nan
23191      nan      nan nan            nan
23192      nan      nan nan            nan
23193      nan      nan nan            nan
23194      nan      nan nan            nan
23195      nan      nan nan            nan
23196      nan      nan nan            nan
23197      nan      nan nan            nan
23198      nan      nan nan            nan
23199      nan      nan nan            nan
---------------------------------------------
total final pnl:  -2952.0

In [99]:
eid_list = range(23070, 23090)
total = 0

print("Event", "PnLFinal", "PnlWorst", "Settled", "        Qty")
print("-"*45)


for i in eid_list:
    txn = Transactions(i, "p", 603727)
    txn.update()
    
    if (txn.event_txn_df is None) or (txn.event_txn_df.empty):
        pnl = np.nan
        qty = np.nan
        pnl_worst = np.nan
    else:
        pnl = txn.event_txn_df["amount"].iloc[:].sum()
        qty = txn.event_txn_df["qty"].iloc[:].sum()
        try:
            db_df = sr.get_data_df_from_psql_live1(i)
            pnl_worst = db_df["pnl_worst"].min()
        except:
            pnl_worst = None
        
    if "Settled" in txn.event_txn_df["status"].values:
        settle = "settled"
    elif (np.isnan(pnl)) and (np.isnan(qty)) and (np.isnan(pnl_worst)):
        settle = np.nan
    else:
        settle = "not settled"
    print(i, f"{pnl:>8}", f"{pnl_worst:>8}", f"{settle:<11}", f"{qty:>6}")
    if not np.isnan(pnl):
        total = total + pnl
print("-"*45)
print("total final pnl: ", total)

Event PnLFinal PnlWorst Settled         Qty
---------------------------------------------
23070      nan      nan nan            nan
23071      nan      nan nan            nan
23072      nan      nan nan            nan
23073      nan      nan nan            nan
23074  -2341.0  -2945.0 settled      494.0
23075      nan      nan nan            nan
23076      nan      nan nan            nan
23077      nan      nan nan            nan
23078      nan      nan nan            nan
23079   -750.0  -8175.0 settled      719.0
23080     78.0  -5171.0 settled      743.0
23081     65.0 -19186.0 settled      795.0
23082      nan      nan nan            nan
23083     63.0  -9846.0 settled     1284.0
23084   -991.0  -7737.0 settled      527.0
23085      nan      nan nan            nan
23086      nan      nan nan            nan
23087  -1182.0  -1482.0 settled      745.0
23088      nan      nan nan            nan
23089      nan      nan nan            nan
---------------------------------------------
total final pnl:  -5058.0

In [16]:
eid_list_now = [23544, 23547, 23627, 23630, 23632, 23636, 23639, 23641, 23644, 23651, 23653, 23658, 23662, 23664, 23667, 23670, 23672, 23679, 23682, 23684, 23687, 23691, 23693, 23699, 23702, 23703, 23706, 23709, 23712, 23721, 23724, 23727, 23729, 23747, 23750, 23752, 23755, 23758, 23760, 23769, 23772, 23774, 23777, 23780, 23782, 23786, 23789, 23791, 23794, 23797, 23799, 23807, 23810, 23814, 23817, 23820, 23822, 23828, 23831, 23836, 23839, 23841, 23848, 23857, 23861, 23864, 23866, 23872, 23875, 23877, 23880, 23883, 23885, 23892, 23895, 23897, 23900, 23903, 23905, 23910, 23913, 23915, 23918, 23921, 23923, 23926, 23929, 23931, 23934, 23937, 23939, 23942, 23945, 23947, 23950, 23953, 23955, 23958, 23961, 23963, 23548, 23626, 23628, 23631, 23635, 23637, 23640, 23643, 23649, 23652, 23657, 23659, 23663, 23666, 23668, 23671, 23675, 23680, 23683, 23686, 23689, 23692, 23697, 23700, 23705, 23707, 23711, 23719, 23723, 23725, 23728, 23746, 23748, 23751, 23754, 23756, 23759, 23765, 23771, 23773, 23776, 23778, 23781, 23785, 23787, 23790, 23793, 23795, 23798, 23803, 23808, 23813, 23816, 23818, 23821, 23825, 23829, 23832, 23835, 23837, 23840, 23844, 23849, 23858, 23860, 23862, 23865, 23869, 23873, 23876, 23879, 23881, 23884, 23888, 23893, 23896, 23899, 23901, 23904, 23907, 23911, 23914, 23917, 23919, 23922, 23925, 23927, 23930, 23933, 23935, 23938, 23941, 23943, 23946, 23949, 23951, 23954, 23957, 23959, 23962, 23533, 23538, 23542, 23546, 23629, 23633, 23638, 23642, 23650, 23654, 23660, 23665, 23669, 23673, 23681, 23685, 23690, 23694, 23701, 23704, 23708, 23713, 23718, 23722, 23726, 23730, 23749, 23753, 23757, 23761, 23770, 23775, 23779, 23783, 23788, 23792, 23796, 23800, 23809, 23815, 23819, 23823, 23830, 23838, 23842, 23850, 23859, 23863, 23867, 23874, 23878, 23882, 23886, 23894, 23898, 23902, 23906, 23912, 23916, 23920, 23924, 23928, 23932, 23936, 23940, 23944, 23948, 23952, 23956, 23960, 23964]

In [17]:
detail_dict = []
j = 1
for i in eid_list_now:
    print(f"{j}/{len(eid_list_now)} eid:{i}")
    temp_dict = {}
    txn = Transactions(i, "p", 603727)
    txn.update()
    temp_dict["eid"] = i
    temp_dict["pnl"] = txn.event_txn_df["amount"].sum()
    temp_dict["qty"] = txn.event_txn_df["qty"].sum()
    temp_dict["setlled"] = True if "Settled" in txn.event_txn_df["status"].values else False
    detail_dict.append(temp_dict)
    j += 1

1/271 eid:23544
2/271 eid:23547
3/271 eid:23627
4/271 eid:23630
5/271 eid:23632
6/271 eid:23636
7/271 eid:23639
8/271 eid:23641
9/271 eid:23644
10/271 eid:23651
11/271 eid:23653
12/271 eid:23658
13/271 eid:23662
14/271 eid:23664
15/271 eid:23667
16/271 eid:23670
17/271 eid:23672
18/271 eid:23679
19/271 eid:23682
20/271 eid:23684
21/271 eid:23687
22/271 eid:23691
23/271 eid:23693
24/271 eid:23699
25/271 eid:23702
26/271 eid:23703
27/271 eid:23706
28/271 eid:23709
29/271 eid:23712
30/271 eid:23721
31/271 eid:23724
32/271 eid:23727
33/271 eid:23729
34/271 eid:23747
35/271 eid:23750
36/271 eid:23752
37/271 eid:23755
38/271 eid:23758
39/271 eid:23760
40/271 eid:23769
41/271 eid:23772
42/271 eid:23774
43/271 eid:23777
44/271 eid:23780
45/271 eid:23782
46/271 eid:23786
47/271 eid:23789
48/271 eid:23791
49/271 eid:23794
50/271 eid:23797
51/271 eid:23799
52/271 eid:23807
53/271 eid:23810
54/271 eid:23814
55/271 eid:23817
56/271 eid:23820
57/271 eid:23822
58/271 eid:23828
59/271 eid:23831
60/271 eid:23836
61/271 eid:23839
62/271 eid:23841
63/271 eid:23848
64/271 eid:23857
65/271 eid:23861
66/271 eid:23864
67/271 eid:23866
68/271 eid:23872
69/271 eid:23875
70/271 eid:23877
71/271 eid:23880
72/271 eid:23883
73/271 eid:23885
74/271 eid:23892
75/271 eid:23895
76/271 eid:23897
77/271 eid:23900
78/271 eid:23903
79/271 eid:23905
80/271 eid:23910
81/271 eid:23913
82/271 eid:23915
83/271 eid:23918
84/271 eid:23921
85/271 eid:23923
86/271 eid:23926
87/271 eid:23929
88/271 eid:23931
89/271 eid:23934
90/271 eid:23937
91/271 eid:23939
92/271 eid:23942
93/271 eid:23945
94/271 eid:23947
95/271 eid:23950
96/271 eid:23953
97/271 eid:23955
98/271 eid:23958
99/271 eid:23961
100/271 eid:23963
101/271 eid:23548
102/271 eid:23626
103/271 eid:23628
104/271 eid:23631
105/271 eid:23635
106/271 eid:23637
107/271 eid:23640
108/271 eid:23643
109/271 eid:23649
110/271 eid:23652
111/271 eid:23657
112/271 eid:23659
113/271 eid:23663
114/271 eid:23666
115/271 eid:23668
116/271 eid:23671
117/271 eid:23675
118/271 eid:23680
119/271 eid:23683
120/271 eid:23686
121/271 eid:23689
122/271 eid:23692
123/271 eid:23697
124/271 eid:23700
125/271 eid:23705
126/271 eid:23707
127/271 eid:23711
128/271 eid:23719
129/271 eid:23723
130/271 eid:23725
131/271 eid:23728
132/271 eid:23746
133/271 eid:23748
134/271 eid:23751
135/271 eid:23754
136/271 eid:23756
137/271 eid:23759
138/271 eid:23765
139/271 eid:23771
140/271 eid:23773
141/271 eid:23776
142/271 eid:23778
143/271 eid:23781
144/271 eid:23785
145/271 eid:23787
146/271 eid:23790
147/271 eid:23793
148/271 eid:23795
149/271 eid:23798
150/271 eid:23803
151/271 eid:23808
152/271 eid:23813
153/271 eid:23816
154/271 eid:23818
155/271 eid:23821
156/271 eid:23825
157/271 eid:23829
158/271 eid:23832
159/271 eid:23835
160/271 eid:23837
161/271 eid:23840
162/271 eid:23844
163/271 eid:23849
164/271 eid:23858
165/271 eid:23860
166/271 eid:23862
167/271 eid:23865
168/271 eid:23869
169/271 eid:23873
170/271 eid:23876
171/271 eid:23879
172/271 eid:23881
173/271 eid:23884
174/271 eid:23888
175/271 eid:23893
176/271 eid:23896
177/271 eid:23899
178/271 eid:23901
179/271 eid:23904
180/271 eid:23907
181/271 eid:23911
182/271 eid:23914
183/271 eid:23917
184/271 eid:23919
185/271 eid:23922
186/271 eid:23925
187/271 eid:23927
188/271 eid:23930
189/271 eid:23933
190/271 eid:23935
191/271 eid:23938
192/271 eid:23941
193/271 eid:23943
194/271 eid:23946
195/271 eid:23949
196/271 eid:23951
197/271 eid:23954
198/271 eid:23957
199/271 eid:23959
200/271 eid:23962
201/271 eid:23533
202/271 eid:23538
203/271 eid:23542
204/271 eid:23546
205/271 eid:23629
206/271 eid:23633
207/271 eid:23638
208/271 eid:23642
209/271 eid:23650
210/271 eid:23654
211/271 eid:23660
212/271 eid:23665
213/271 eid:23669
214/271 eid:23673
215/271 eid:23681
216/271 eid:23685
217/271 eid:23690
218/271 eid:23694
219/271 eid:23701
220/271 eid:23704
221/271 eid:23708
222/271 eid:23713
223/271 eid:23718
224/271 eid:23722
225/271 eid:23726
226/271 eid:23730
227/271 eid:23749
228/271 eid:23753
229/271 eid:23757
230/271 eid:23761
231/271 eid:23770
232/271 eid:23775
233/271 eid:23779
234/271 eid:23783
235/271 eid:23788
236/271 eid:23792
237/271 eid:23796
238/271 eid:23800
239/271 eid:23809
240/271 eid:23815
241/271 eid:23819
242/271 eid:23823
243/271 eid:23830
244/271 eid:23838
245/271 eid:23842
246/271 eid:23850
247/271 eid:23859
248/271 eid:23863
249/271 eid:23867
250/271 eid:23874
251/271 eid:23878
252/271 eid:23882
253/271 eid:23886
254/271 eid:23894
255/271 eid:23898
256/271 eid:23902
257/271 eid:23906
258/271 eid:23912
259/271 eid:23916
260/271 eid:23920
261/271 eid:23924
262/271 eid:23928
263/271 eid:23932
264/271 eid:23936
265/271 eid:23940
266/271 eid:23944
267/271 eid:23948
268/271 eid:23952
269/271 eid:23956
270/271 eid:23960
271/271 eid:23964

In [19]:
import pandas as pd

In [21]:
df = pd.DataFrame(detail_dict)

In [22]:
df

       eid     pnl    qty  setlled
0    23544     0.0  450.0     True
1    23547  -922.0  175.0    False
2    23627     4.0  652.0     True
3    23630   -18.0  365.0     True
4    23632    77.0  275.0     True
..     ...     ...    ...      ...
266  23948    39.0  579.0     True
267  23952     0.0    0.0    False
268  23956  -150.0  350.0     True
269  23960    78.0  375.0     True
270  23964 -1341.0  224.0    False

[271 rows x 4 columns]

In [23]:
df["pnl"].sum()

-163705.0